@model dynamic
@using Mandro.Blog.Worker.Controllers
@using Mandro.Blog.Worker.Engine
@{

    Layout = "Views/Shared/_SimpleLayout.cshtml";
}

<div class="files">
    <form action="@Redirect.To((Files controller) => controller.PostUpload)" method="POST" enctype="multipart/form-data">
        <input name="image" type="file"> <br/>
        <input type="submit" value="Upload Image" />
    </form>
</div>