@model dynamic
@{

    Layout = "Views/Shared/_Layout.cshtml";
}

<div class="posts">
    @if (Model.IsLogged)
    {
        <a href="/Post/Edit/@Model.Post.PartitionKey/@Model.Post.RowKey">Edit</a>
    }
    @Include("Views/Shared/SinglePost.cshtml", Model.Post)
</div>