@model dynamic
@{

    Layout = "Views/Shared/_SimpleLayout.cshtml";
}

<div class="posts">
    <form class="pure-form pure-form-aligned" action="/Post/New" method="POST">
        <fieldset>
            <div class="pure-control-group">
                <label>Author</label>
                <label>@Model.UserName</label>
            </div>

            <div class="pure-control-group">
                <label for="name">Title</label>
                <input id="name" name="title" type="text" placeholder="Title">
            </div>

            <div class="pure-control-group">
                <label for="text">Content</label>
                <textarea id="text" name="content" placeholder="Content" rows="10" cols="80" style="font-family: courier;"></textarea>
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>