@model dynamic
@{

    Layout = "Views/Shared/_SimpleLayout.cshtml";
}


<div class="posts">
    <form class="pure-form pure-form-aligned" action="/Account/Login" method="POST">
        <fieldset>
            <div class="pure-control-group">
                <label for="name">User Name</label>
                <input id="name" name="userName" type="text" placeholder="Title">
            </div>

            <div class="pure-control-group">
                <label for="text">Password</label>
                <input id="password" name="password" type="password" placeholder="Password" />
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Log in</button>
            </div>
        </fieldset>
    </form>
</div>
