@model dynamic
@using System
@using Mandro.Blog.Worker.Controllers

<html lang="en">
<head>
    <title>Marcin Drobik</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
        header.main {
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            background: url(img/intro_opt.jpg) no-repeat top center scroll;
            background-size: cover;
            height: 90%;
            display: table;
            width: 100%;
            text-transform: uppercase;
        }

        .header-info {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 1200px;
        }

        .section-header {
            background-color: rgb(61, 79, 93);
            min-height: 10%;
            text-align: center;
        }

        section.about-me p {
            font-size: 20px;
        }


        .header-info a {
            color: rgb(176, 202, 219);
        }


        .container h1, .container h3 {
            color: rgb(176, 202, 219);
        }

        header h1 {
            font-weight: bold;
        }

        .header-info-content {
            background-color: rgba(61, 79, 93, 0.67);
        }

        .post {
            padding-left: 20px;
            padding-right: 20px;
        }

        .post-header {
            background-color: rgba(61, 79, 93, 0.37);
            margin-left: -20px;
            margin-right: -20px;
            padding: 20px;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="header-info container">
            <div class="row header-info-content">
                <div class="col-md-4 col-md-offset-4">
                    <h1><a href="/">Marcin Drobik</a></h1>
                    <h3>software journeyman notes</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Example post starts here -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- A wrapper for all the blog posts -->
                @RenderBody()


            </div>
        </div>
    </div>

    <!-- Example posts ends here -->


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://yui.yahooapis.com/3.14.1/build/yui/yui.js"></script>
    <script>
        YUI().use('node-base', 'node-event-delegate', function (Y) {
            // This just makes sure that the href="#" attached to the <a> elements
            // don't scroll you back up the page.
            Y.one('body').delegate('click', function (e) {
                e.preventDefault();
            }, 'a[href="#"]');
        });
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51107166-1', 'marcindrobik.pl');
        ga('send', 'pageview');

    </script>

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'marcindrobikpl'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
</body>
</html>
