@model dynamic
@using System
@using Mandro.Blog.Worker.Controllers
@using MarkdownSharp
@{

    var markdown = new Markdown();
}

<section class="post">
    <header class="post-header">
        @{/*<img class="post-avatar" alt="Eric Ferraiuolo&#x27;s avatar" height="48" width="48" src="img/common/ericf-avatar.png">*/}
        <h2 class="post-title"><a href="/Post/@Model.Permalink">@Model.Title</a></h2>
        <p class="post-meta">
            On @Model.Created.ToShortDateString() | <a href="/Post/@Model.Permalink#disqus_thread ">0 Comments</a>
        </p>
    </header>
    <div class="post-description">
        <p>
            @Raw(markdown.Transform(Model.Content))
        </p>
    </div>
</section>
