@model dynamic
@using System
@using Mandro.Blog.Worker.Controllers
@using MarkdownSharp
@{

    Layout = null;
    var markdown = new Markdown();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcin Drobik</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/css/main-grid-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/main-grid.css">
    <!--<![endif]-->
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/css/layouts/blog-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/layouts/blog.css">
    <!--<![endif]-->

</head>
<body>
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-med-1-4">
            <div class="header">
                <hgroup>
                    <h1 class="brand-title">Marcin Drobik</h1>
                    <h2 class="brand-tagline">software journeyman notes</h2>
                </hgroup>
                @{
    /*<nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="http://purecss.io">Pure</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="http://yuilibrary.com">YUI Library</a>
                        </li>
                    </ul>
                </nav>*/
                }
            </div>
        </div>

        <div class="content pure-u-1 pure-u-med-3-4">
            <div>
                <!-- A wrapper for all the blog posts -->

                <div class="posts">
                    <h1 class="content-subhead">Recent Posts</h1>
                    @foreach (var blogPost in @Model.Posts)
                    {

                        <section class="post">
                            <header class="post-header">
                                @{/*<img class="post-avatar" alt="Eric Ferraiuolo&#x27;s avatar" height="48" width="48" src="img/common/ericf-avatar.png">*/}
                                <h2 class="post-title"><a href="/Post/@blogPost.Permalink">@blogPost.Title</a></h2>
                                <p class="post-meta">
                                    On @blogPost.Created.ToShortDateString()
                                </p>
                            </header>
                            <div class="post-description">
                                <p>
                                    @Raw(markdown.Transform(blogPost.Content))
                                </p>
                            </div>
                        </section>

                    }
                    @{
    /*
                    <section class="post">
                        <header class="post-header">
                            <img class="post-avatar" alt="Reid Burke&#x27;s avatar" height="48" width="48" src="img/common/reid-avatar.png">
                            <h2 class="post-title">Photos from CSSConf and JSConf</h2>
                            <p class="post-meta">
                                By <a class="post-author" href="#">Reid Burke</a> under <a class="post-category" href="#">Uncategorized</a>
                            </p>
                        </header>
                        <div class="post-description">
                            <div class="post-images pure-g">
                                <div class="pure-u-1 pure-u-med-1-2">
                                    <a href="http://www.flickr.com/photos/uberlife/8915936174/">
                                        <img alt="Photo of someone working poolside at a resort"
                                             class="pure-img-responsive"
                                             src="http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg">
                                    </a>
                                    <div class="post-image-meta">
                                        <h3>CSSConf Photos</h3>
                                    </div>
                                </div>
                                <div class="pure-u-1 pure-u-med-1-2">
                                    <a href="http://www.flickr.com/photos/uberlife/8907351301/">
                                        <img alt="Photo of the sunset on the beach"
                                             class="pure-img-responsive"
                                             src="http://farm8.staticflickr.com/7382/8907351301_bd7460cffb.jpg">
                                    </a>
                                    <div class="post-image-meta">
                                        <h3>JSConf Photos</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="post">
                        <header class="post-header">
                            <img class="post-avatar" alt="Andrew Wooldridge&#x27;s avatar" height="48" width="48" src="img/common/andrew-avatar.png">
                            <h2 class="post-title">YUI 3.10.2 Released</h2>
                            <p class="post-meta">
                                By <a class="post-author" href="#">Andrew Wooldridge</a> under <a class="post-category post-category-yui" href="#">YUI</a>
                            </p>
                        </header>
                        <div class="post-description">
                            <p>
                                We are happy to announce the release of YUI 3.10.2! You can find it now on the Yahoo! CDN, download it directly, or pull it in via npm. We’ve also updated the YUI Library website with the latest documentation.
                            </p>
                        </div>
                    </section>*/
                    }
                </div>
                <div class="footer">
                    <div class="pure-menu pure-menu-horizontal pure-menu-open">
                        <ul>
                            <li><a href="https://github.com/mandrek44/">GitHub</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://yui.yahooapis.com/3.14.1/build/yui/yui.js"></script>
    <script>
        YUI().use('node-base', 'node-event-delegate', function (Y) {
            // This just makes sure that the href="#" attached to the <a> elements
            // don't scroll you back up the page.
            Y.one('body').delegate('click', function (e) {
                e.preventDefault();
            }, 'a[href="#"]');
        });
    </script>


</body>
</html>
